@import url(./index.html);
@import url(./contact.html);


@media screen and (min-width: 1400px) {

  .about-cards{
    padding: 5% !important;
  }

  .latest-projects-container{

  }

  .latest-blogs{
    /* margin-top: 55% !important; */
  }

  .latest-blogs-cards{
    
  }
  
}

@media screen and (max-width: 1200px) {

    .website{
      width: 100vw !important;
      /* padding: 0 !important; */
    }

    .website{
        /* display: none; */
    }

    .hero-section{
      padding: 8%;
      display: flex;
      flex-direction: column;
    }

    .hero-section h1{
      font-size: 2.6rem !important;
    }

    .hero-section h1 span{
      font-size: 3.1rem !important;
    }

    .hero-section p{
      font-size: 1rem;
    }

    /* .warning{
        display: block;
    } */

    .hero-buttons {
      display: flex  !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .hero-btn{
      font-size: 1rem !important;
      width: 150px;
      height: 50px;
      padding: 0 !important;
      text-align: center;
      align-items: center;
      padding: 5% !important;
    }

    .about-cards {
      flex-direction: column !important;
      padding: 0 !important;
      align-items: center;
    }
    .about-cards-child {

    }

    .latest-projects-cards-container {
      flex-direction: column !important;
      /* justify-content: center; */
      align-items: center;
    }
  
    .latest-projects-cards {
      max-width: 80% !important;
    }

    .project-number{
      height: 20% !important;
      transform: translate(450%, 420%) !important;
    }
  
    .latest-blogs {
      margin-top: 50% !important;
    }
  
    .latest-blogs-cards-container {
      display: flex !important;
      flex-direction: column !important;
      align-items: center;
    }
  
    .latest-blogs-cards {
      margin-bottom: 5%;
      width: 90% !important;
    }

    .social-media{
      padding: 10%;
    }
  
    .social-media a {
      font-size: 3rem !important;
    }
  
    .footer-container footer h1 {
      font-size: 3rem !important;
    }
  
    .my-image-container{
      display: flex;
      justify-content: center;
      height: 25vh !important; 
      width: 23vh !important;
    }

    .my-image{
      height: 100%; 
      width: 100%;
    }

    .about-text{
      word-spacing: 5px;
    }

    .skills-cards .card {

      margin-bottom: 5%;
      width: 0% !important;
    }
  

    .skills-cards{
      width: 100% !important;
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      padding-left: 0% !important;
      row-gap: 5% !important;
      /* margin-bottom: 50vh; */
    }
  
    .skills-cards .card{
      width: 44vw !important;
      height: 28vh;
    }

    .skills-img-div{
      height: 30px;
      width: 30px;
    }

    .skills-cards .card-body h5{
      font-size: 1rem !important;
    }

    .skills-cards .card-body p{
      font-size: 0.8rem;
    }
  
    .contact-form{
      height: 55%;
      width: 80%;
      margin-top: 25%;
    }
  
    .contact-form h1{
      font-size: 1.5rem !important;
    }
  
  }