@import url(./style.css);
@import url(./responsive.css);

.spinner {
  width: 40px;
  height: 40px;
  background-color: #fff;

  /* margin: 100px auto; */
  position: absolute;
  top: 48%;
  left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6347;
  z-index: 999999;
  }

body {
  font-family: var(--body-font);
  overflow-x: hidden;
}

.website{
  overflow-x: hidden;
}

/* hero section */

.hero {
  background-color: var(--hero-bg-color) !important;
}

.hero-section-text{
  width: 45vw;
}

.hero nav {
  background-color: var(--hero-bg-color) !important;
}

/* nav bar */

.navbar-brand {
  user-select: none;
  font-size: 2rem !important;
  font-weight: 500 !important;
  color: var(--primary-color) !important;
}


.active-button {
  color: var(--primary-color) !important;
}

.contact-me{
  width: 130px !important;
}

.primary-button {
  border: 2px solid var(--primary-color) !important;
  border-radius: 0 !important;
  width: 200px;
}
.primary-button:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.secondary-button {
  background-color: var(--primary-color) !important;
  color: white !important;
}
.secondary-button:hover {
  border: 2px solid var(--primary-color) !important;
  color: black !important;
  background-color: white !important;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

/* hero section */

  .animated{
    display: inline; 
    border-right: 2.5px solid var(--primary-color); 
    animation: blink 1s infinite; 
    overflow: wrap;
  }

  @keyframes blink{
    50%{
      border-right: none;
    }
  }

.hy {
  font-size: 4rem !important;
  font-weight: 500 !important;
}

.arihant-jain {
  font-size: 5rem;
  font-weight: 400;
}

.lead {
  line-height: 40px;
}

.my-image {
  display: flex;
  justify-content: center;
  height: 30vw;
  width: 20vw;
  background-color: white !important;
  border-radius: 7px;
  align-items: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 2px 6px 10px 0 rgba(0, 0, 0, 0);
  background: #fff url(./assets/mewithoutbg.png) no-repeat center center/cover;
}

.my-image img {
  /* height: 100%; */
}

.hero-btn {
  border-radius: 0 !important;
  width: 200px;
}

/* about */

.about {

}

.about p{
  line-height: 30px;
}

.about-cards {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.about-cards .card{
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-data{
  margin-top: 10px
}

.card-logo-side{
  display: inline-block !important;
  width: 18% !important;
  margin: 0 2% !important;
}

.card-text-side{
  display: inline-block !important;
  width: 78% !important;
  margin-right: 2% !important;
}

.about-cards-child {
  /* border: 2px solid var(--primary-color)
 !important; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0);
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome-heading {
  font-weight: 500;
  color: var(--primary-color);
}

/* skills */

.skills-img-div {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  display: block;
}

.skills .card {
  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0);
}


.tech-stacks-img {
  align-items: center;
}

.tech-stacks-img img {
  width: 15%;
  margin-right: 2%;
  height: 15%;
}

.latest-projects-cards a {
  display: block;
  height: 100%;
  text-decoration: none !important;
  align-items: end;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
}

.project1 a {
  background: #fff url("./assets/random-quote-generator.png") no-repeat center
    center/cover !important;
  border-radius: 12px;
}

.project2 {
  background: #fff url("./assets/todoteller.png") no-repeat center center/cover !important;
  transform: translate(0, 40%);
  border-radius: 12px;
}

.project3 {
  transform: translate(0, 80%);
}

.project3 a {
  background: #fff url("./assets/shadowdog.png") no-repeat center center/cover !important;
  border-radius: 12px;
}

.project-number {
  width: 20%;
  height: 28%;
  background-color: #1f1d1e;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 38px;
  position: absolute;
  transform: translate(450%, 300%);
} */

/* latest blogs */

.latest-blogs{

}

.latest-blogs-cards-container{
  justify-content: space-between;
}

.blogs-img {
  height: 52%;
  border-bottom: 1px solid #d2d2d2;
}

.latest-blogs-cards {
  width: 30% !important;
  border: 2px solid #d2d2d2 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0);
}

/* nav bar */

.social-media {
  align-items: center !important;
}

.social-media a {
  /* color: #1F1D1E; */
  color: #fff;
  font-size: 4rem;
  padding-right: 10%;
}

.warning{
  display: none;
}

/* contact me section */

.contact-container {
  height: 100vh;
  justify-content: center;
}

.contact-form {
  height: auto !important;
  max-height: 80% !important;
  display: block;
  margin-top: 5%;
  width: 55%;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 5%;
  color: white;
  border-radius: 15px;
}

.contact-form h1 {
  font-size: 3rem;
}

.contact-container button {
  cursor: pointer;
}

.displayYes{
  display: block !important;
}

.snackbar{
  display: none;
  background-color: rgb(245, 239, 239);
  padding: 20px 60px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-left: solid 6px #3ab164;
}

.content{
  display: flex;
  align-items: center;
}

.message{
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.check{
  display: flex;
  width: 35px;
  height: 35px;
  background: #3ab164;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font: 22px;
  border-radius: 50%;
}

.title{
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 5px;
}

.close{
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close:hover{
  color: red;
}