@import url(./style.css);
@import url(./responsive.css);

body {
  font-family: var(--body-font);
}

/* hero section */

.hero {
  background-color: var(--hero-bg-color) !important;
}

.hero nav {
  background-color: var(--hero-bg-color) !important;
}

/* nav bar */

.navbar-brand {
  user-select: none;
  font-size: 2rem !important;
  font-weight: 500 !important;
  color: var(--primary-color) !important;
}

.active-button {
  color: var(--primary-color) !important;
}

.contact-me{
  width: 130px !important;
}

.primary-button {
  border: 2px solid var(--primary-color) !important;
  border-radius: 0 !important;
  width: 200px;
}
.primary-button:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.secondary-button {
  background-color: var(--primary-color) !important;
  color: white !important;
}
.secondary-button:hover {
  border: 2px solid var(--primary-color) !important;
  color: black !important;
  background-color: white !important;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

/* hero section */

.hy {
  font-size: 4rem !important;
  font-weight: 500 !important;
}

.arihant-jain {
  font-size: 5rem;
  font-weight: 400;
}

.lead {
  line-height: 40px;
}

.my-image {
  display: flex;
  justify-content: center;
  height: 30vw;
  width: 20vw;
  background-color: white !important;
  border-radius: 7px;
  align-items: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 2px 6px 10px 0 rgba(0, 0, 0, 0);
  background: #fff url(./assets/mewithoutbg.png) no-repeat center center/cover;
}

.my-image img {
  /* height: 100%; */
}

.hero-btn {
  border-radius: 0 !important;
  width: 200px;
}

/* about */

.about {

}

.about p{
  line-height: 30px;
}

.about-cards {
  padding: 0 5%;
}

.about-cards .card{
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-data{
  margin-top: 10px
}

.card-logo-side{
  display: inline-block !important;
  width: 18% !important;
  margin: 0 2% !important;
}

.card-text-side{
  display: inline-block !important;
  width: 78% !important;
  margin-right: 2% !important;
}

/* .about h2 {
  color: var(--primary-color)
 !important;
} */

.about-cards-child {
  /* border: 2px solid var(--primary-color)
 !important; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0);
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .about-cards .card-header {
  background-color: var(--primary-color)
 !important;
  color: white !important;
}

.about-cards div {
  display: inline-block;
  margin-right: 5%; */

/* hero section */

.welcome-heading {
  font-weight: 500;
  color: var(--primary-color);
}

/* skills */

.skills-img-div {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  display: block;
}

.skills .card {
  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0);
}

.tech-stacks-img {
  align-items: center;
}

.tech-stacks-img img {
  width: 15%;
  margin-right: 2%;
  height: 15%;
}

/* latest project */

.latest-projects-container {
}

.latest-projects-cards-container {

}

.latest-projects-cards {
  width: 28%;
  height: 30vh;
  margin-right: 7%;
  /* text-align: center; */
}

.latest-projects-cards a {
  display: block;
  height: 100%;
  text-decoration: none !important;
  align-items: end;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
}

.project1 a {
  background: #fff url("./assets/random-quote-generator.png") no-repeat center
    center/cover !important;
  border-radius: 12px;
}

.project2 {
  background: #fff url("./assets/todoteller.png") no-repeat center center/cover !important;
  transform: translate(0, 40%);
  border-radius: 12px;
}

.project3 {
  transform: translate(0, 80%);
}

.project3 a {
  background: #fff url("./assets/shadowdog.png") no-repeat center center/cover !important;
  border-radius: 12px;
}

.project-number {
  width: 20%;
  height: 28%;
  background-color: #1f1d1e;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 38px;
  position: absolute;
  transform: translate(450%, 300%);
}

/* latest blogs */

/* .latest-blogs-cards-container{
  padding: 3% 5%;
  justify-content: space-between;
} */

.blogs-img {
  height: 52%;
  border-bottom: 1px solid #d2d2d2;
}

.latest-blogs-cards {
  border: 2px solid #d2d2d2 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0);
}

/* nav bar */

.social-media {
  align-items: center !important;
}

.social-media a {
  /* color: #1F1D1E; */
  color: #fff;
  font-size: 4rem;
  padding-right: 10%;
}

/* contact me section */

.contact-container {
  height: 100vh;
  justify-content: center;
}

.contact-form {
  height: 80%;
  display: block;
  margin-top: 5%;
  width: 55%;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 5%;
  color: white;
  border-radius: 15px;
}

.contact-form h1 {
  font-size: 3rem;
}

.contact-container button {
  margin-left: 87%;
}

/* resposiveness */



@media screen and (max-width: 1000px) {


}
