@import url(./style.css);

body {
  font-family: var(--body-font);
}

.hero {
}

/* nav bar */

.primary-button {
  border: 2px solid #e94536 !important;
  border-radius: 0 !important;
}
.primary-button:hover {
  background-color: #e94536 !important;
  color: white !important;
}

.secondary-button {
  background-color: #e94536 !important;
  color: white !important;
}
.secondary-button:hover {
  border: 2px solid #e94536 !important;
  color: black !important;
  background-color: white !important;
}

.nav-link:hover {
  color: #e94536 !important;
}

/* hero section */

.my-image img {
}

.hero-btn {
  border-radius: 0 !important;
  width: 200px;
}

/* about */

/* .about h2 {
  color: #e94536 !important;
} */

.about-cards-child {
  /* border: 2px solid #e94536 !important; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0);
}

/* .about-cards .card-header {
  background-color: #e94536 !important;
  color: white !important;
}

.about-cards div {
  display: inline-block;
  margin-right: 5%; */

  /* hero section */

.welcome-heading{
  font-weight: 500;
  color: #e94536;
}

/* skills */

.skills-img-div {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  display: block;
}

.skills .card{
  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0);
}

.tech-stacks-img {
  width: 100%;
  align-items: center;
}

.tech-stacks-img img {
  width: 15%;
  margin-right: 2%;
  height: 15%;
}

/* latest project */

.latest-projects-container{
  width: 100%;
}

.latest-projects-cards-container{
  width: 100%;
}

.latest-projects-cards{
  width: 28%;
  height: 30vh;
  margin-right:7%;
  /* text-align: center; */
}

.latest-projects-cards a{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none !important;
  align-items: end;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
}

.project1 a{
  background: #fff url('./assets/random-quote-generator.png') no-repeat center center/cover !important;
  border-radius: 12px;
}

.project2{
  background: #fff url('./assets/todoteller.png') no-repeat center center/cover !important;
  transform: translate(0, 40%);
  border-radius: 12px;
}

.project3{
  transform: translate(0, 80%);
}

.project3 a{
  background: #fff url('./assets/shadowdog.png') no-repeat center center/cover !important;
  border-radius: 12px;
}

.project-number{
  width: 20%;
  height: 28%;
  background-color: #1F1D1E;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 38px;
  position: absolute;
  transform: translate(450%, 300%);
}

/* latest blogs */

/* .latest-blogs-cards-container{
  padding: 3% 5%;
  justify-content: space-between;
} */

.blogs-img{
  height: 52%;
  border-bottom: 1px solid #d2d2d2;
}

.latest-blogs-cards{
  border: 2px solid #d2d2d2 !important; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0);
}

/* nav bar */


.social-media{
  align-items: center !important;
}

.social-media a{
  /* color: #1F1D1E; */
  color: #FFF;
  font-size: 4rem;
  padding-right: 10%;
}




/* contact me section */

.contact-container{
  height: 100vh;
  justify-content: center;
}

.contact-form{
  height: 80%;
  display: block;
  margin-top: 5%;
  width: 55%;
  justify-content: center;
  background-color: #e94536;
  padding: 5%;
  color: white;
  border-radius: 15px;
}

.contact-form h1{
  font-size: 3rem;
}

.contact-container button{
  margin-left: 87%;
}


/* resposiveness */

@media screen and (max-width: 600px) {

  .hero-buttons{
    padding-left: 25% !important;
  }
  
  .about-cards{
    flex-direction: column !important;
    margin-left: 0 !important;
  }
  .about-cards-child{
    margin-left: 20% !important;
  }

  .skills-cards{
    display: flex !important;
    flex-direction: column !important;
    margin-left: 18%;
  }

  .skills-cards .card{
    margin-bottom: 5%;
  }

  .latest-projects-cards-container{
    flex-direction: column !important;
  }

  .latest-projects-cards{
    margin-left: 26%;
    width: 50%;
  }

  .latest-blogs{
    margin-top: 35% !important;
  }

  .latest-blogs-cards-container{
    display: flex !important;
    flex-direction: column !important;
    margin-left: 15%;
  }

  .latest-blogs-cards{
    margin-bottom: 5%;
  }

  .social-media a{
    font-size: 3rem !important;
  }

  .footer-container footer h1{
    font-size: 3rem !important;
  }


}