@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&family=Open+Sans:ital,wght@0,500;0,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&family=Lobster&family=Open+Sans:ital,wght@0,500;0,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
  overflow-x: hidden;
}

:root {
  --body-font: "Inter", sans-serif;
  --fancy-font: "Open Sans", sans-serif;
  --cursive-font:  'Lobster', cursive;
  --primary-color: #e94536;
  --secondary-color: white;
  --hero-bg-color: #f4eff1;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hr{
  border: 1px solid #000000 !important;
}

a {
  text-decoration: none;
}

.w100{
  width: 100% !important;
}
